/**
 * Title: Geoff Groenendale - Portfolio
 * Author: Geoff Groenendale
 * Date: 5/7/2018
 * 
 * Description: This is the primary style sheet 
 * and it is the mobile styles by default
 * 
 * Sources:
 *  - Media queries from
 *    https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 *  - CSS Reset
 *    http://meyerweb.com/eric/tools/css/reset/
 *  - Mobile CSS Reset
 *    https://subvisual.co/blog/posts/53-a-better-reset-for-the-mobile-web/
 *    
 * Standard Format Rules
 * 	#element-name {
 * 		display: ;  		---Display type always first
 * 	 	position: ; 		---Positioning next including top,left,right
 * 	 	top: ;
 * 	 	left: ;
 * 	 	floats: ;			---floats will likely end up here 
 * 	 	width: ;			---sizing of the actual element here
 * 	 	height: ;
 * 	 	margin: ;			---Margin always before padding
 * 	 	padding: ;
 * 	 	overflow: ; 		---Overflow status
 * 	 	--fonts-- 			
 * 	 	font-family: ;		---All font styles starting with font family then sizes then weights, decorations
 * 	 	font-size: ;
 * 	 	text-decoration: ;
 * 	 	list-styletypes: ;
 * 	 	--colors--	
 * 	 	color: ; 			---All colors fall in place after positions and size
 * 	 	background-color: ;
 * 	}
 */

/*
=============================================
			Root Styles
=============================================
 */
:root {
	--port-head-co:  #A5C2AC; 	/* --- Color for the portfolio header/logo */
	--color-si-bg: 	 #403D39; 	/* --- Color for the sidebar background */
	--color-co-bg:   #DFEDE3; 	/* --- Color for the content background */ 
	--color-font-si: #DFEDE3; 	/* --- Color for the sidebar font */
	--co-font-sihov: #DFEDE3; 	/* --- Color for the sidebar font on hover */
	--color-font-co: #181715; 	/* --- Color for the content font */
	--co-font-cohov: #181715; 	/* --- Color for the content font on hover */
	--co-gall-bord:	 #000000; 	/* --- Color for the gallery borders */
	--co-copyright:  #B7C2BA;   /* --- Color for the copyright in the sidebar */
	--color-green: 	 #5E926A; 	/* --- Color for the green */

	--font-header: 	 'Dosis', sans-serif;
	--font-para: 	 'Arapey', serif;
	--port-head-fo:	 'Dosis', sans-serif;
}

/*
====================================================================
							CSS Resets
====================================================================
*/

/*
====================================================
	A better reset for the mobile web
	https://subvisual.co/blog/posts/53-a-better-reset-for-the-mobile-web/
	v | 20150409
	License: none (public domain)
====================================================
*/

*, *:before, *:after {
  /* suppressing the tap highlight */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* this is a personal preference */
  box-sizing: border-box;
  vertical-align: top;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  /* the default outline doesn't play well with a mobile application, 
     I usually start without it,
     but don't forget to research further to make your mobile app accessible. */
  outline: 0;
}

input {
  border-radius: 0;
}

html, body {
  /* we don't want to allow users to select text everywhere,
     you can enable it on the places you think appropriate */
  user-select: none;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

	/*
	====================================================
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
	====================================================
	*/

  	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
}

/*
=============================================
		Mobile Font Families and Sizes
=============================================
*/

h1 {
	font-family: var(--font-header);
	font-size: 32px;
}

h2 {
	font-family: var(--font-header);
	font-size: 1.45em;
}

h3 {
	font-family: var(--font-header);
	font-size: 1.3em;
}

h4 {
	font-family: var(--font-header);
	font-size: 1.2em;	
}

h5 {
	font-family: var(--font-header);
	font-size: 1.1em;
}

h6 {
	font-family: var(--font-header);
	font-size: 1.05em;
}

p {
	font-family: var(--font-para);
	font-size: 1em;
}

/*
=============================================
			Main Body Styles
=============================================
*/

html, body {
	height: 100%;
}

html {

}

body {

}

#wrapper {
	position: fixed;
}

#sidebar {
	background-color: var(--color-si-bg);
}

#content {
	background-color: var(--color-co-bg);
}

/*
=================================
	Photography Content Styles
=================================
*/

/*===== Photography Galleries Grid Area ===== */
/* Declaring CSS Grid Areas*/

#gall-container {

}

.gall-block {

}

.gall-header {
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 4px;
}

.gall-link {
	display: block;
}

.gall-img-wrap {
	width: 300px;
	height: 300px;
	margin: auto;
}

.gall-img {
	max-width: 100%;
	max-height: 100%;
}

.gall-blurb {

}

/*
=================================
	Photography Gallery Styles
=================================
*/

.hidden-gall {
	display: none;
}

#gall-viewer {
	background-color: #000000;
}

.gall-closer {

}

#slide-container {

}

#slide-wrap {

}

.img-thumb-wrap {

}

.img-thumb {

}

.slide {

}

.photo {

}

.prev, .next {

}