/**
 * Title: Geoff Groenendale - Portfolio
 * Author: Geoff Groenendale
 * Date: 5/7/2018
 * 
 * Description: This is the style sheet for all laptop
 * and desktop styles. 
 * 
 * Sources:
 *  - Media queries from
 *    https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 *  - CSS Reset
 *    http://meyerweb.com/eric/tools/css/reset/
 *  - Mobile CSS Reset
 *    https://subvisual.co/blog/posts/53-a-better-reset-for-the-mobile-web/
 *    
 * Standard Format Rules
 * 	#element-name {
 * 		display: ;  		---Display type always first
 * 	 	position: ; 		---Positioning next including top,left,right
 * 	 	top: ;
 * 	 	left: ;
 * 	 	floats: ;			---floats will likely end up here 
 * 	 	width: ;			---sizing of the actual element here
 * 	 	height: ;
 * 	 	margin: ;			---Margin always before padding
 * 	 	padding: ;
 * 	 	overflow: ; 		---Overflow status
 * 	 	--colors--	
 * 	 	background-color: ; ---All colors fall in place after positions and size
 * 	 	color: ;
 * 	  	list-styletypes
 * 	}
 */

/*
=============================================
			Root Styles
=============================================
 */
:root {
	--color-si-bg: 	 #403D39;
	--color-co-bg:   #DFEDE3;
	--color-font-si: #DFEDE3;
	--co-font-sihov: #DFEDE3;
	--color-font-co: #181715;
	--co-font-cohov: #181715;
	--color-green: 	 #5E926A;

	--font-header: 	'Dosis', sans-serif;
	--font-para: 	'Arapey', serif;
}

/*
==========================================================================================================
			Non-Retina Screen Styles
==========================================================================================================
 */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

	/* 
	====================================================
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
	====================================================
	*/

  	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	/*
	=============================================
				Grid Styles
	=============================================
	*/

	/*===== Primary grid Area - Sidebar and Content/Main ===== */
	/* Declaring CSS Grid Areas*/
	.grid-side 		{ grid-area: side; }
	.grid-content 	{ grid-area: main; }

	.grid-container {
		display: grid;
		position: fixed;
		width: 100%;
		height: 100%;
		grid-template-areas: 
			'side main main main main main main';
		grid-auto-columns: calc(100% * 1 / 7);
	}

	/*
	=============================================
				Laptop and Desktop Font Sizes
	=============================================
	*/

	h1 {
		font-family: var(--font-header);
		font-size: 32px;
	}

	h2 {
		
	}

	h3 {
		
	}

	h4 {
		
	}

	h5 {
		
	}

	h6 {
		
	}

	p {
		font-family: var(--font-para);
	}

	/*
	=============================================
				Body Styles
	=============================================
	*/

	html, body {
		height: 100%;
	}

	html {

	}

	body {

	}

	#wrapper {

	}

	#content {
		overflow: scroll;
		background-color: var(--color-co-bg);
		color: var(--color-font-co);

	}

	/*
	=============================================
				Sidebar Styles
	=============================================
	*/

	#sidebar {
		background-color: var(--color-si-bg);
	}

	nav {
		width: 100%;
		margin-top: 8%;
		text-align: center;
	}

	nav>ul {
		display: inline-block;
		text-align: left;
	}

	nav>ul>a>li {
		display: inline-block;
		font-family: var(--font-header);
		font-size: 1.3em;
		margin-top: 3%;
		margin-bottom: 3%;
	}

	nav>ul>a {
		display: block;
		text-decoration: none;
		color: var(--color-font-si);
		margin: 
	}

	nav>ul>a:hover {
		color: var(--co-font-sihov);
	}

	nav>ul>a:visited {
		color: var(--color-font-si);
	}
}

/*
==========================================================================================================
			Retina Screen Styles
==========================================================================================================
 */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

	/* 
	====================================================
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
	====================================================
	*/

  	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	/*
	=============================================
				Grid Styles
	=============================================
	*/

	/* Declaring CSS Grid Areas*/
	.grid-side 		{ grid-area: side; }
	.grid-content 	{ grid-area: main; }

	.grid-container {
		display: grid;
		position: fixed;
		width: 100%;
		height: 100%;
		grid-template-areas: 
			'side main main main main main main';
		grid-auto-columns: calc(100% * 1 / 7);
	}

	/*
	=============================================
				Laptop and Desktop Font Sizes
	=============================================
	*/

	h1 {

	}

	h2 {
		
	}

	h3 {
		
	}

	h4 {
		
	}

	h5 {
		
	}

	h6 {
		
	}

	p {

	}

	/*
	=============================================
				Body Styles
	=============================================
	*/

	html, body {
		height: 100%;
	}

	html {

	}

	body {

	}

	#wrapper {

	}

	
	#content {
		overflow: scroll;
		background-color: var(--color-co-bg);
		color: var(--color-font-co);
	}

	/*
	=============================================
				Sidebar Styles
	=============================================
	*/

	#sidebar {
		background-color: var(--color-bg);
	}

	nav {
		width: 100%;
		text-align: center;
	}

	nav>ul {
		display: inline-block;
		text-align: left;
	}

	nav>ul>a>li {
		display: inline-block;
	}

	nav>ul>a {
		display: block;
		text-decoration: none;
		color: var(--color-font-si);
	}

	nav>ul>a:hover {
		color: var(--co-font-sihov);
	}

	nav>ul>a:visited {
		color: var(--color-font-si);
	}


}