/**
 * Title: Geoff Groenendale - Portfolio
 * Author: Geoff Groenendale
 * Date: 5/7/2018
 * 
 * Description: This is the primary style sheet 
 * and it is the mobile styles by default
 * 
 * Sources:
 *  - Media queries from
 *    https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 *  - CSS Reset
 *    http://meyerweb.com/eric/tools/css/reset/
 *  - Mobile CSS Reset
 *    https://subvisual.co/blog/posts/53-a-better-reset-for-the-mobile-web/
 *    
 * Standard Format Rules
 * 	#element-name {
 * 		display: ;
 * 	 	position: ;
 * 	 	floats: ;
 * 	 	width: ;
 * 	 	height: ;
 * 	 	background-color: ;
 * 	 	color: ;
 * 	  	list-styletypes
 * 	}
 */

/*
=============================================
			Root Styles
=============================================
 */
:root {
	--color-si-bg: 	 #403D39;
	--color-co-bg:   #DFEDE3;
	--color-font-si: #DFEDE3;
	--co-font-sihov: #DFEDE3;
	--color-font-co: #181715;
	--co-font-cohov: #181715;
	--color-green: 	 #5E926A;

	--font-header: 	'Dosis', sans-serif;
	--font-para: 	'Arapey', serif;
}

/* 
====================================================
	A better reset for the mobile web
	https://subvisual.co/blog/posts/53-a-better-reset-for-the-mobile-web/
	v | 20150409
	License: none (public domain)
====================================================
*/

*, *:before, *:after {
  /* suppressing the tap highlight */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* this is a personal preference */
  box-sizing: border-box;
  vertical-align: top;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  /* the default outline doesn't play well with a mobile application, 
     I usually start without it,
     but don't forget to research further to make your mobile app accessible. */
  outline: 0;
}

input {
  border-radius: 0;
}

html, body {
  /* we don't want to allow users to select text everywhere,
     you can enable it on the places you think appropriate */
  user-select: none;
}


/*
=============================================
			Fonts and Families
=============================================
 */

h1 {

}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

p {

}


/*
=============================================
			Mobile Font Sizes
=============================================
 */

h1 {

}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

p {

}

/*
=============================================
			Main Body Styles
=============================================
 */

html, body {
	height: 100%;
}

html {

}

body {

}

#wrapper {
	position: fixed;
}

#sidebar {
	background-color: var(--color-bg);
}

#content {
	background-color: var(--color-content);
}

