/**
 * Title: Geoff Groenendale - Portfolio
 * Author: Geoff Groenendale
 * Date: 5/7/2018
 * 
 * Description: This is the style sheet for all laptop
 * and desktop styles. 
 * 
 * Sources:
 *  - Media queries from
 *    https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 *  - CSS Reset
 *    http://meyerweb.com/eric/tools/css/reset/
 *  - Mobile CSS Reset
 *    https://subvisual.co/blog/posts/53-a-better-reset-for-the-mobile-web/
 *    
 * Standard Format Rules
 * 	#element-name {
 * 		display: ;  		---Display type always first
 * 	 	position: ; 		---Positioning next including top,left,right
 * 	 	top: ;
 * 	 	left: ;
 * 	 	floats: ;			---floats will likely end up here 
 * 	 	width: ;			---sizing of the actual element here
 * 	 	height: ;
 * 	 	margin: ;			---Margin always before padding
 * 	 	padding: ;
 * 	 	overflow: ; 		---Overflow status
 * 	 	--fonts-- 			
 * 	 	font-family: ;		---All font styles starting with font family then sizes then weights, decorations
 * 	 	font-size: ;
 * 	 	text-decoration: ;
 * 	 	list-styletypes: ;
 * 	 	--colors--	
 * 	 	color: ; 			---All colors fall in place after positions and size
 * 	 	background-color: ;
 * 	}
 */

/*
=============================================
			Root Styles
=============================================
 */
:root {
	--port-head-co:  #A5C2AC; 	/* --- Color for the portfolio header/logo */
	--color-si-bg: 	 #403D39; 	/* --- Color for the sidebar background */
	--color-co-bg:   #DFEDE3; 	/* --- Color for the content background */ 
	--color-font-si: #DFEDE3; 	/* --- Color for the sidebar font */
	--co-font-sihov: #DFEDE3; 	/* --- Color for the sidebar font on hover */
	--color-font-co: #181715; 	/* --- Color for the content font */
	--co-font-cohov: #181715; 	/* --- Color for the content font on hover */
	--co-gall-bord:	 #000000; 	/* --- Color for the gallery borders */
	--co-copyright:  #B7C2BA;   /* --- Color for the copyright in the sidebar */
	--co-cube-bg:    #403D39;   /* --- Color for the cube faces */

	--color-green: 	 #5E926A; 	/* --- Color for the green */

	--font-header: 	 'Dosis', sans-serif;
	--font-para: 	 'Arapey', serif;
	--port-head-fo:	 'Dosis', sans-serif;
}

/*
==========================================================================================================
			Non-Retina Screen Styles
==========================================================================================================
 */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

	/*
	=============================================
				Grid Styles
	=============================================
	*/

	/*===== Primary grid Area - Sidebar and Content/Main ===== */
	/* Declaring CSS Grid Areas*/
	.grid-side 		{ grid-area: side; }
	.grid-content 	{ grid-area: main; }

	.grid-container {
		display: grid;
		position: fixed;
		width: 100%;
		height: 100%;
		grid-template-areas: 
			'side main main main main main main';
		grid-auto-columns: calc(100% * 1 / 7);
	}

	/*===== Sidebar grid Area - Sidebar ===== */
	/* Declaring CSS Grid Areas*/
	nav 		{ grid-area: top; }
	#sidemid 	{ grid-area: mid; }
	#sidefoot	{ grid-area: foot; }

	#sidebar {
		display: grid;
		grid-template-areas: 
			'top'
			'top'
			'mid'
			'mid'
			'mid'
			'foot';
		grid-auto-rows: calc(100% / 6);
	}

	/*===== Social Links grid Area - Sidebar ===== */
	/* Declaring CSS Grid Areas*/

	#soc-links {
		display: inline-grid;
		grid-template-columns: auto auto auto auto;
		padding: 5%;
	}

	/*
	=============================================
				Laptop and Desktop Font Sizes
	=============================================
	*/

	h1 {
		font-family: var(--font-header);
		font-size: 32px;
	}

	h2 {
		font-family: var(--font-header);
		font-size: 1.45em;
	}

	h3 {
		font-size: 1.1em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 1.1em;
	}

	h6 {
		font-size: 1.1em;
	}

	p {
		font-family: var(--font-para);
		font-size: 1em;
	}

	/*
	=============================================
				Body Styles
	=============================================
	*/

	html, body {
		height: 100%;
	}

	html {

	}

	body {

	}

	#wrapper {

	}

	/*
	=============================================
				Sidebar Styles
	=============================================
	*/

	#under-show {
		display: none;
	}

	#show-menu {
		display: none;
	}

	.slide-menu	{
		left: unset;
	}

	#sidebar {
		position: static;
		overflow: hidden;
		width: unset;
		height: unset;
		left: 0;
		background-color: var(--color-si-bg);
		box-shadow: 2px 0px 7px 0px rgba(0,0,0,0.3);
	}

	nav {
		width: 100%;
		margin-top: 8%;
		text-align: center;
	}

	#port-link {
		text-decoration: none;
	}

	#port-name {
		font-family: var(--port-head-fo);
		color: var(--port-head-co);
		font-size: 1.6em;
	}

	nav>ul {
		display: inline-block;
		text-align: left;
		width: 80%;
	}

	#cur-page {
		margin-top: 8%;
		color: var(--color-font-si);
		margin-left: 15%;
	}

	#gr-rect {
		position: relative;
		height: 5px;
		width: 100%;
		margin-top: 4%;
		margin-bottom: 2%;
		margin-left: auto;
		margin-right: auto;
		background: var(--color-green);
	}

	nav>ul>a>li {
		display: inline-block;
		font-family: var(--font-header);
		font-size: 1.25em;
		margin-top: 4%;
		margin-bottom: 4%;
	}

	nav>ul>a {
		display: block;
		text-decoration: none;
		color: var(--color-font-si);
		margin-left: 18%;
	}

	nav>ul>a:hover {
		color: var(--co-font-sihov);
	}

	nav>ul>a:visited {
		color: var(--color-font-si);
	}

	#sidefoot {

	}

	#foot-inner {
		position: unset;
		left: unset;
		bottom: unset;
		width: unset;
		transform: unset;
	}

	#soc-links {
		width: 100%;
		margin: auto;
		list-style-type: none;
	}

	#soc-links>a {
		
	}

	#soc-links>a>li {
		width: 35px;
		margin: auto;
	}

	#soc-links>a>li>img {
		max-width: 100%;
		max-height: 100%;
	}

	#copyright-div {
		margin-top: 10px;
		text-align: center;
		color: var(--co-copyright);
	}

	/*
	================================================
					Content Styles
	================================================
	*/

	#content {
		overflow: scroll;
		background-color: var(--color-co-bg);
		color: var(--color-font-co);
	}

	#content::-webkit-scrollbar {
		display: none;
	}

	/*
	=================================
			Home Content Styles
	=================================
	*/

	#splash-wrap {
		height: 340px;
		width: 100%;
		vertical-align: middle;
		text-align: center;
		display: grid;
		grid-auto-rows: calc(100% / 3);
	}

	#splash {
		margin: auto;
	}

	#greet {
		font-size: 2.5em;
		display: block;
	}

	#greet-blurb {
		display: block;
		margin-top: 30px;
		font-size: 1.4em;
	}

	#service-wrap {
		margin-top: 100px;
		background-color: #514E4B;
	}

	#service-wrap h2 {
		text-align: center;
		font-size: 1.9em;
	}

	#services {
		display: grid;
		grid-template-rows: unset;
		grid-template-columns: auto auto auto;
		padding: 5%;
	}

	.service-block h3 {
		text-align: center;
	}


	/*
	=================================
		Photography Content Styles
	=================================
	*/

	#photo-greet {
		padding-top: 4%;
		padding-bottom: 2%;
		font-size: 2em;
	}

	/*===== Photography Galleries Grid Area ===== */
	/* Declaring CSS Grid Areas*/

	#gall-wrapper {
		display: grid;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 40px;
	}

	#gall-container {
		display: inline-grid;
		grid-template-columns: auto auto auto;
		grid-gap: 40px;
		margin: auto;
	}

	.gall-block {
		width: 350px;
		height: 350px;
		perspective: 1050px; 
		margin: auto;
	}

	.cube {
		width: 100%;
		height: 100%;
		position: relative;
		transform-style: preserve-3d;
		transform: translateZ(-175px);
		transition: transform 0.5s;
	}

	.cube-face {
		position: absolute;
		width: 350px;
		height: 350px;
	}

	.cube-face.front 	{ transform: rotateY(   0deg) translateZ(175px); } 
	.cube-face.right 	{ transform: rotateY(  90deg) translateZ(175px); }
	.cube-face.left 	{ transform: rotateY( -90deg) translateZ(175px); }
	.cube-face.back 	{ transform: rotateY( 180deg) translateZ(175px); }
	.cube-face.top 		{ transform: rotateX(  90deg) translateZ(175px); }
	.cube-face.bottom 	{ 
		transform: rotateX( -90deg) translateZ(315px); 
		background-color: rgba(0,0,0,0.2);
		box-shadow: 0px 0px 100px 50px rgba(0,0,0,0.2);
		left: 75px;
		width: 200px;
		height: 200px;

	}

	.cube.show-front 	{ transform: translateZ(-175px) rotateY(    0deg); }
	.cube.show-right 	{ transform: translateZ(-175px) rotateY(  -90deg); }
	.cube.show-back 	{ transform: translateZ(-175px) rotateY( -180deg); }
	.cube.show-left 	{ transform: translateZ(-175px) rotateY(   90deg); }
	.cube.show-top 		{ transform: translateZ(-175px) rotateY(  -90deg); }
	.cube.show-bottom 	{ transform: translateZ(-175px) rotateY(   90deg); }

	.gall-header {
		text-align: center;
		font-size: 1.5em;
		padding-bottom: 4px;
	}

	.gall-link {
		display: block;
	}

	.gall-img-wrap {
		display: flex;
		background-color: var(--co-cube-bg);
		width: 350px;
		height: 350px;
		max-height: unset;
		margin: auto;
		box-shadow: unset;
	}

	#tooltip {
		display: none;
	}

	.gall-img-wrap:hover #tooltip {
		display: block;
		position: fixed;
		overflow: hidden;
	}

	.gall-img {
		width: 100%;
		height: unset;
		max-width: 100%;
		max-height: 100%;
		margin: auto;
	}

	.gall-info {
		width: 350px;
		height: 350px;
		background-color: var(--co-cube-bg);
		top: unset;
	}

	.gall-blurb {

	}

	/*
	=================================
		Photography Gallery Styles
	=================================
	*/

	.hidden-gall {
		display: none;
	}

	#gall-viewer {
		background-color: #000000;
	}

	#caro-container {
		margin: 40px 0;
		position: relative;
		width: 720px;
		height: 520px;
		margin: 80px auto;
		perspective: 1000px;
	}

	#carousel {
		width: 100%;
		height: 100%;
		position: absolute;
		transform: translateZ(-288px);
		transform-style: preserve-3d;
		transition: transform 1s;
	}

	.carousel-cell {
		display: flex;
		position: absolute;
		width: 700px;
		height: 500px;
		left: 10px;
		top: 10px;
		align-items: center;
		justify-content: center;
		transition: transform 1s, opacity 1s;
	}

	.gallery-img {
		width: 100%;
		height: unset;
		max-width: 100%;
		max-height: 100%;
		margin: auto;
	}

	.no-img {
		width: 700px;
		height: 500px;
		background-color: gray;
	}

	#controls {
		width: 100%;
		text-align: center;
	}

	.iter {
		display: unset;
		color: white;
		font-size: 3em;
		padding: 5px;
	}

	.gall-closer {
		position: unset;
		line-height: unset;
		font-size: 3em;
		font-weight: bold;
		float: right;
		color: white;
		margin-right: 10px;
		margin-top: 10px;
	}

	#slide-container {

	}

	#slide-wrap {

	}

	.img-thumb-wrap {

	}

	.img-thumb {

	}

	.slide {

	}

	/*
	=================================
			Contact Styles
	=================================
	*/

	.contact-grid {
		display: grid;
		grid-template-rows: 5% 10% 5% 60% 10% 10%;
	}

	#cont-greet {
		text-align: center;
		width: 100%;
		padding: 2%;
	}

	#message-wrap {
		display: grid;
		grid-template-columns: 14.5% 25% 11% 35% 14.5%;
		margin-top: 20px;
	}

	#cont-info-grid {
		display: grid;
		grid-row-gap: 20px;
	}

	#cont-info {
		display: grid;
	}

	.info-key {
		display: inline;
	}

	#caddress {
		display: inline;
		vertical-align: top;
	}

	#address { 
		display: inline-block;
		vertical-align: top;
	}

	#c-soc-wrap {
		margin: auto;
	}

	#c-soc-links {
		display: grid;
		grid-template-columns: 60px 60px 60px 60px;
		grid-gap: 12px;
		list-style-type: none;
	}

	#c-soc-links>a>li {
		margin: auto;
	}

	#c-soc-links>a>li>img {
		width: 100%;
		max-height: 100%
	}

	#cont-info p {
		font-size: 1.3em;
	}

	form {
		display: grid;
		grid-template-rows: auto auto auto auto;
		grid-gap: 15px;
	}

	.mess-comp {
		border: 1px solid #AAA;
		font-size: 1.2em;
		padding: 8px;
	}

	form>input {
		font-family: var(--font-header);
	}

	#message {
		height: 200px;
	}

	/*
	=================================
			About Styles
	=================================
	*/

	.about-grid {
		display: inline-grid;
		grid-template-areas: 'prof-pic-info' 'cols';
	}

	#prof-pic-info {
		grid-area: prof-pic-info;
		display: grid;
		grid-template-columns: auto auto;
	}

	#prof-pic {

	}

	#prof-infos {
		
	}

	#cols {
		grid-area: cols;
		display: grid;
		grid-template-columns: auto auto;
	}

	#col1 {
		display: grid;
		grid-template-areas: 'exp' 'skills' 'achieve';
	}

	#col2 {
		display: grid;
		grid-template-areas: 'educ' 'certs' 'extra';
	}

	#experience {
		grid-area: exp;
	}

	#education {
		grid-area: educ;	
	}

	#skills {
		grid-area: skills;
	}

	#certs {
		grid-area: certs;
	}

	#achievements {
		grid-area: achieve;
	}

	#extra {
		grid-area: extra;
	}




}

/*
==========================================================================================================
			Retina Screen Styles
==========================================================================================================
 */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

	/* 
	====================================================
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
	====================================================
	*/

  	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	/*
	=============================================
				Grid Styles
	=============================================
	*/

	/* Declaring CSS Grid Areas*/
	.grid-side 		{ grid-area: side; }
	.grid-content 	{ grid-area: main; }

	.grid-container {
		display: grid;
		position: fixed;
		width: 100%;
		height: 100%;
		grid-template-areas: 
			'side main main main main main main';
		grid-auto-columns: calc(100% * 1 / 7);
	}

	/*
	=============================================
				Laptop and Desktop Font Sizes
	=============================================
	*/

	h1 {
		font-family: var(--font-header);
		font-size: 32px;
	}

	h2 {
		font-family: var(--font-header);
		font-size: 26px;
	}

	h3 {
		
	}

	h4 {
		
	}

	h5 {
		
	}

	h6 {
		
	}

	p {
		font-family: var(--font-para);
	}

	/*
	=============================================
				Body Styles
	=============================================
	*/

	html, body {
		height: 100%;
	}

	html {

	}

	body {

	}

	#wrapper {

	}

	/*
	=============================================
				Sidebar Styles
	=============================================
	*/

	#sidebar {
		background-color: var(--color-si-bg);
	}

	nav {
		width: 100%;
		margin-top: 8%;
		text-align: center;
	}

	nav>ul {
		display: inline-block;
		text-align: left;
		width: 80%;
	}

	#cur-page {
		margin-top: 8%;
		color: var(--color-font-si);
		margin-left: 15%;
	}

	#gr-rect {
		position: relative;
		height: 5px;
		width: 100%;
		margin-top: 2%;
		margin-bottom: 2%;
		margin-left: auto;
		margin-right: auto;
		background: var(--color-green);
	}

	nav>ul>a>li {
		display: inline-block;
		font-family: var(--font-header);
		font-size: 1.3em;
		margin-top: 4%;
		margin-bottom: 4%;
	}

	nav>ul>a {
		display: block;
		text-decoration: none;
		color: var(--color-font-si);
		margin-left: 18%;
	}

	nav>ul>a:hover {
		color: var(--co-font-sihov);
	}

	nav>ul>a:visited {
		color: var(--color-font-si);
	}

	#sidefoot {
	}

	#soc-links {
		width: 100%;
		margin: auto;
		list-style-type: none;
	}

	#soc-links>a {
		
	}

	#soc-links>a>li {
		width: 35px;
		margin: auto;
	}

	#soc-links>a>li>img {
		max-width: 100%;
		max-height: 100%;
	}

	/*
	=============================================
				Content Styles
	=============================================
	*/

	#content {
		overflow: scroll;
		background-color: var(--color-co-bg);
		color: var(--color-font-co);
	}

	#content::-webkit-scrollbar {
		display: none;
	}


}